{% extends "cinema/layout.html" %}

{% block content %}

{% load static %}

<!-- ======= Movie Section ======= -->
<section >
  <div class="col-md-12 movie ">
    <h1 class="ml-5">BIG HERO 6</h1>      
  </div>
    <div class="row col-md-12 ml-5 mr-5 pt-1 pb-1">
      <iframe width="95%" height="580px" src="https://www.youtube.com/embed/z3biFxZIJOQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section><!-- End Movie Section -->

{% endblock %}
